@model DestinosDePortugal.Models.Users
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/master.cshtml";
}

<h2>Administrador</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
    </dl>
</div>